# Python bytecode
__pycache__
*.pyc
*.pyo
*.pyd

# Python virtual environment
venv/
*.venv
env/
*.env

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static files
/static
/media

# Secret key
*.secret

# Development and IDE files
.vscode/
.idea/
*.swp
*.swo

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/